In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.DataFrame({
    "strings": ["Mike", "Jason", "Peter", "John", "Tim"],
    "ints": [1, 2, 3, 4, 5],
    "floats": [1.1, 2.2, 3.3, 4.4, 5.5]
})

df1 = df.style.set_properties(**{'background-color': 'black',
                           'color': 'lawngreen',
                           'border-color': 'white'})    
df1.to_excel("output.xlsx", engine="openpyxl", index=False)
df1

In [16]:
df.style.format(
    precision=2,
    thousands=',',
    decimal='.'
).format_index(axis=1,formatter=str.upper)\
.relabel_index(["row1","row2","row3","row4","row5"], axis=0)

In [19]:
import pandas as pd
import numpy as np

# 範例 DataFrame
data = {
    'A': [1234.5678, 9876.5432, 10000.00, 4567.8901, 7890.1234, 6543.2109],
    'B': [0.1234, 0.5678, 0.9999, 0.4321, 0.8765, 0.2468],
    'C': ['蘋果', '香蕉', '櫻桃', '葡萄', '橘子', '芒果'],
    'D': pd.to_datetime(['2023-10-26', '2023-10-27', '2023-10-28',
                        '2023-10-29', '2023-10-30', '2023-10-31']),
    'E': [np.nan, 1, 2, 3, np.nan, 4]
}
df = pd.DataFrame(data)
df

            A       B   C          D    E
0   1234.5678  0.1234  蘋果 2023-10-26  NaN
1   9876.5432  0.5678  香蕉 2023-10-27  1.0
2  10000.0000  0.9999  櫻桃 2023-10-28  2.0
3   4567.8901  0.4321  葡萄 2023-10-29  3.0
4   7890.1234  0.8765  橘子 2023-10-30  NaN
5   6543.2109  0.2468  芒果 2023-10-31  4.0

In [20]:
styled_df1 = df.style.format("{:.2f}",subset=['A','B'])
styled_df1

In [41]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

# 生成時間序列（從現在開始，每隔3小時一筆，共10筆）
dates = [(datetime.now() + timedelta(hours=i*3)) for i in range(20)]

# 城市列表
cities = ['台北', '台中', '高雄', '台南', '新竹']

# 建立空的 DataFrame，使用日期作為索引
weather_df = pd.DataFrame(index=dates)

# 為每個城市生成溫度和濕度數據
for city in cities:
    # 溫度：在20-35度之間隨機產生
    weather_df[f'{city}_溫度'] = np.random.randint(20, 36, size=20)
    # 濕度：在30-80%之間隨機產生
    weather_df[f'{city}_濕度'] = np.random.randint(30, 81, size=20)

# 格式化日期時間顯示
weather_df.index = weather_df.index.strftime('%Y-%m-%d %H:%M:%S')

# 定義顏色標記函數
def color_city_extremes(series, column_type):
    city_name = series.name.split('_')[0]  # 取得城市名稱
    
    # 只選取該城市的數據
    city_data = series
    
    # 找出該城市的最高和最低值
    max_val = city_data.max()
    min_val = city_data.min()
    
      # 設定背景顏色的 RGB 值和樣式模板
    colors = {
        'max_temp': '255, 0, 0',      # 紅色 
        'min_temp': '135, 206, 235',  # 淺藍色
        'max_humid': '128, 0, 128',   # 深紫色
        'min_humid': '128, 128, 128', # 深灰色
        'normal': '255, 255, 255'     # 白色
    }
    
    # 使用 format 設定完整的樣式
    style_template = 'background-color: rgba({}, {}); color: {}'
    
    # 設定顏色和字體顏色
    styles = []
    for val in series:
        if val == max_val:
            if column_type == '溫度':
                style = style_template.format(colors['max_temp'], '0.5', 'white')
            else:
                style = style_template.format(colors['max_humid'], '0.5', 'white')
            styles.append(style)
        elif val == min_val:
            if column_type == '溫度':
                style = style_template.format(colors['min_temp'], '0.5', 'white')
            else:
                style = style_template.format(colors['min_humid'], '0.5', 'white')
            styles.append(style)
        else:
            # 設定白色背景和黑色字體
            style = style_template.format(colors['normal'], '1', 'black')
            styles.append(style)
    return styles
# 套用樣式
def style_dataframe(df):
    return df.style.apply(lambda x: color_city_extremes(x, '溫度') 
                         if '溫度' in x.name 
                         else color_city_extremes(x, '濕度') 
                         if '濕度' in x.name 
                         else [''] * len(x), axis=0)

# 顯示原始資料
print("原始天氣資料：")
print(weather_df)

# 顯示格式化後的資料（含顏色標記）
print("\n格式化後的天氣資料（含極值標記）：")
styled_df = style_dataframe(weather_df)
display(styled_df)

# 顯示每個城市的最高最低值摘要
print("\n各城市溫度和濕度極值：")
print("="*50)
for city in cities:
    # 正確定義欄位名稱
    temp_col = f'{city}_溫度'
    humid_col = f'{city}_濕度'
    print(f"\n{city}:")
    print(f"溫度 - 最高: {weather_df[temp_col].max()}°C, 最低: {weather_df[temp_col].min()}°C")
    print(f"濕度 - 最高: {weather_df[humid_col].max()}%, 最低: {weather_df[humid_col].min()}%")

原始天氣資料：
                     台北_溫度  台北_濕度  台中_溫度  台中_濕度  高雄_溫度  高雄_濕度  台南_溫度  台南_濕度  \
2025-03-23 14:51:48     23     78     35     31     29     36     33     76
2025-03-23 17:51:48     34     34     22     66     23     74     35     69
2025-03-23 20:51:48     28     68     29     55     31     53     25     54
2025-03-23 23:51:48     20     34     29     50     27     73     32     59
2025-03-24 02:51:48     22     76     20     44     33     62     20     48
2025-03-24 05:51:48     24     80     31     48     29     75     31     54
2025-03-24 08:51:48     20     55     34     71     21     30     24     59
2025-03-24 11:51:48     26     51     27     75     21     58     21     72
2025-03-24 14:51:48     24     52     23     51     25     73     26     34
2025-03-24 17:51:48     24     80     22     64     24     66     34     61
2025-03-24 20:51:48     34     55     23     35     31     71     29     41
2025-03-24 23:51:48     33     44     27     54     34     73     27     58
2025-03-25 02:51:48     27     66     23     43     24     61     25     66
2025-03-25 05:51:48     32     44     35     49     21     72     22     73
2025-03-25 08:51:48     21     53     27     71     25     76     22     45
2025-03-25 11:51:48     29     68     29     40     23     46     26     31
2025-03-25 14:51:48     32     63     22     35     28     80     26     75
2025-03-25 17:51:48     35     60     22     32     33     58     26     30
2025-03-25 20:51:48     32     46     34     80     25     58     25     63
2025-03-25 23:51:48     35     60     20     63     25     55     31     51

                     新竹_溫度  新竹_濕度
2025-03-23 14:51:48     33     41
2025-03-23 17:51:48     34     61
2025-03-23 20:51:48     21     51
2025-03-23 23:51:48     34     74
2025-03-24 02:51:48     32     56
2025-03-24 05:51:48     34     67
2025-03-24 08:51:48     24     39
2025-03-24 11:51:48     28     51
2025-03-24 14:51:48     33     66
2025-03-24 17:51:48     23     76
2025-03-24 20:51:48     31     35
2025-03-24 23:51:48     31     77
2025-03-25 02:51:48     29     47
2025-03-25 05:51:48     33     55
2025-03-25 08:51:48     22     32
2025-03-25 11:51:48     23     37
2025-03-25 14:51:48     33     78
2025-03-25 17:51:48     33     44
2025-03-25 20:51:48     29     59
2025-03-25 23:51:48     25     60

格式化後的天氣資料（含極值標記）：

各城市溫度和濕度極值：
==================================================

台北:
溫度 - 最高: 35°C, 最低: 20°C
濕度 - 最高: 80%, 最低: 34%

台中:
溫度 - 最高: 35°C, 最低: 20°C
濕度 - 最高: 80%, 最低: 31%

高雄:
溫度 - 最高: 34°C, 最低: 21°C
濕度 - 最高: 80%, 最低: 30%

台南:
溫度 - 最高: 35°C, 最低: 20°C
濕度 - 最高: 76%, 最低: 30%

新竹:
溫度 - 最高: 34°C, 最低: 21°C
濕度 - 最高: 78%, 最低: 32%